html,
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}
html {
  font-size: 12px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
html,
body,
.view-port,
.view-port-except-menu {
  height: 100%;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #d8d8d8;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #838383;
}
div,
span,
img,
li,
ul,
ol {
  -webkit-user-select: none;
  user-select: none;
}
[v-cloak] {
  display: none;
}
ul {
}

.content {
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;

  box-sizing: border-box;
}
.content li {
  display: block;
  float: left;
}
.content li.firstRow {
  margin-top: 5px;
}
.content li div {
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid transparent;
  cursor: default;
  margin: 0 auto;
}
.content li div:hover {
  border-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}
.content li div:active {
  background: rgba(255, 255, 255, 0.2);
  cursor: default;
}
.content li div.focus {
  background: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.25);
  cursor: default;
}
.content li div.focus:hover {
  background: rgba(255, 255, 255, 0.2);
}
.content li div.focus:active {
  background: rgba(255, 255, 255, 0.25);
}
.content li div i {
  display: inline-block;
  background: no-repeat;
  background-size: cover;
}
.content span.name {
  display: block;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-align: center;
  padding: 2px 0 0;
  color: #fff;
}

.slider {
  padding-bottom: 40px;
}
.block {
  position: absolute;
  background: rgba(0, 0, 0, 0.26);
  overflow: hidden;
  box-sizing: border-box;
}
.no-wrap-wp {
}
.block ul {
}
.dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
.dots i {
}
.dots i:after {
  display: block;
  content: " ";
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin: 5px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.01);
}
.title {
  padding: 0;
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.dots i.active:after {
  background: white;
}
.slider-wp {
  overflow: hidden;
}
.no-wrap-wp {
  overflow: hidden;
  -webkit-transition: margin 0.3s ease-in;
  will-change: margin;
}
.slider-wp ul {
  float: left;
}
.v-scroll {
  width: 100%;
}
.skin-1 .title {
  background: rgba(0, 0, 0, 0.3);
}

.skin-2 .icon-item {
  margin: 0 auto !important;
  float: none !important;
}
.skin-2 .title {
  background: rgba(0, 0, 0, 0.3);
}

.skin-4 .title {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.skin-8 {
  background: transparent !important;
}
.skin-101 {
  background: rgba(255,255,255,.01);
}

.content textarea {
  width: 100%;
  height: auto;
  line-height: normal;
  overflow: hidden;
  outline: none;
  border: 1px solid #646464;
  box-sizing: border-box;
  resize: none;
  text-align: center;
  background-color: white;
}

.m-menu {
  font-size: 14px;
  width: 280px;
  min-height: 32px;
  line-height: 32px;
  padding: 1px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.m-menu.show {
  display: block;
}

.m-menu ul {
  width: 100%;
}

.m-menu li {
  width: 100%;
  height: 32px;
  display: block;
}

.m-menu li span {
  display: inline-block;
  cursor: default;
}

.m-menu li span:first-child {
  float: left;
  margin-left: 20px;
}

.m-menu li span:last-child {
  float: right;
  margin-right: 20px;
}

.m-menu li i {
  font-style: normal;
  height: 32px;
  width: auto;
  max-width: 80px;
  overflow: hidden;
}
/* skin */
.m-menu {
  color: #b7c7f9;
  background-color: #253052;
  border: 1px solid #b7c7f9;
}

.m-menu li:hover {
  color: #fff;
  background-color: #515e84;
}

.m-menu li:active {
  color: #fff;
}
